@import url(//db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=Sofia+Pro);
@font-face {font-family: "Sofia Pro"; src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot"); src: url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.woff") format("woff"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05428692254b58ccb090358a3dfecfff.svg#Sofia Pro") format("svg"); }
@font-face {
    font-family: Helvetica;
    src: url("./assets/fonts/HelveticaNeue-Light.otf") format("opentype");
}

/* logo color: #ba9457 */

.landing-container{
    text-align: center;
    margin-top:10%;
}

.landing-buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:2%;
}

.landing-buttons button{
    margin:3px;
    padding:5px;
    border: none;
    font-family: "Sofia Pro";
    color:rgb(53, 51, 51);
    background-color: Transparent;
    cursor: pointer;
    font-size: large;
    border-radius: 5%;
    letter-spacing: 1px;
}

.register-container{
    width:20%;
    margin:auto;
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-top:10%;
    border: 1px solid rgb(179, 176, 176);
    padding:5%;
    background:white;
    align-items: center;
    border-radius: 2%;
}

.register-container form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin-top:1em;
    padding:5%;
}

.register-container input {
    margin:2%;
    border:1px solid rgb(179, 176, 176);
    border-radius: 2%;
    padding:2%;
}
.register-container label {
    font-family: Helvetica;
    font-size: small;
    margin:2%;
}
.register-container p{
    font-family: "Sofia Pro";
    color:#ba9457;
}

.register-container button{
    background-color: rgb(78, 78, 241);
    border: none;
    font-family: 'Sofia Pro';
    color:white;
    border-radius:3%;
    padding:2%;
    cursor: pointer;
    margin-top:10%;
    width:85%;
}

.register-footer {
    text-align: center;
    margin-top:5%;
}